@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
  <h1>ADMIN PAGE!!  Secret stuff here</h1>
</div>
</body>
</html>
