@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
          <input type="submit" value="Log in" />
        }

        @Html.ActionLink("Admin page", "Admin")

    </div>
</body>
</html>
